@import 'variables.scss';

body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.navBarDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000080;
    p {
      color: #FFFFFF;
      font-size: 2rem;
      font-weight: bold;
      margin-left: 24px;
    }
    button {
      margin-right: 24px;
      background-color: #FFFFFF; 
      border: none;
      color: #000000;
      padding: 15px 32px;
      text-align: center;
      font-size: 1rem;
      border-radius: 10px;
        &:hover {
          background-color: #C0C0C0;
          cursor: pointer;
        }
    }
}