@import 'variables.scss';

body {
  margin: 0;
  background-color: $white;
  font-family: 'Roboto', sans-serif;
}

.navBarDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $gradient;
    p {
      color: $white;
      font-size: 36px;
      font-weight: bold;
      margin-left: 48px;
    }
    button {
      margin-right: 48px;
      background-color: transparent; 
      border: 2px solid $white;
      color: $white;
      padding: 15px 32px;
      text-align: center;
      font-size: 1rem;
      border-radius: 10px;
        &:hover {
          border: 2px solid $black;
          color: $black;
          cursor: pointer;
        }
    }
}

.headerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 94px 48px;
    img {
      width: 30%;
      height: auto;
      border-radius: 100%;
      box-shadow: 8px 8px 6px $black;
    }
    .headerContainer {
      margin-left: 120px;
        h1 {
          font-size: 48px;
        }
        p {
          font-size: 24px;
        }
    }
}

.bodyDiv {
  padding: 12px 24px;
  text-align: center;
  background: $gradient;
  color: $white;
  font-size: 30px;
    h2 {
      margin: 12px;
    }
}

.projectContainer {
  position: relative;
    .projectImg {
      width: 1080px;
      height: 600px;
      box-shadow: 8px 8px 6px $black;
    }
    .projectButton {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      background: $gradient;
      border: 2px solid $white;
      padding: 15px 32px;
      text-align: center;
      font-size: 1rem;
      border-radius: 10px;
        a {
          text-decoration: none;
          color: $white;
        }
          &:hover {
          opacity: 1;
          cursor: pointer;
        }
    }
}

.projectContainer:hover .projectImg {
  opacity: 0.3;
}

.projectContainer:hover .projectButton {
  opacity: 1;
}