@import 'variables.scss';

body {
  margin: 0;
  background-color: $dark;
  font-family: 'Roboto', sans-serif;
  color: $white;
}

  //LARGE
  @media screen and (min-width: $break-large) {
  .navBarDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $dark;
      p {
        font-size: 36px;
        font-weight: bold;
        margin-left: 48px;
      }
      button {
        margin-right: 48px;
        background-color: transparent; 
        border: none;
        color: $white;
        padding: 15px 32px;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        border-radius: 10px;
          &:hover {
            color: $blue;
            cursor: pointer;
          }
        }
      }
  }
  //MEDIUM
  @media screen and (max-width: $break-med) {
  .navBarDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $dark;
      p {
        font-size: 36px;
        font-weight: bold;
        margin-left: 48px;
      }
      button {
        margin-right: 48px;
        background-color: transparent; 
        border: none;
        color: $white;
        padding: 15px 32px;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        border-radius: 10px;
          &:hover {
            color: $blue;
            cursor: pointer;
          }
        }
      }
  }
  //SMALL
  @media screen and (max-width: $break-small) {
  .navBarDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $dark;
    padding: 10px;
      p {
        font-size: 42px;
        font-weight: bold;
        margin: 5px;
      }
      button {
        margin: 0;
        background-color: transparent; 
        border: none;
        color: $white;
        padding: 15px 32px;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        border-radius: 10px;
          &:hover {
            color: $blue;
            cursor: pointer;
          }
        }
      }
  }

  //LARGE
  @media screen and (min-width: $break-large) {
  .headerDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 94px 48px;
      img {
        width: 20%;
        height: auto;
        border-radius: 100%;
      }
      .headerContainer {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 80px;
          h1 {
            margin: 0;
            font-size: 80px;
          }
          p {
            margin-top: 10px;
            font-size: 32px;
            
          }
      }
    }
  }
  //MEDIUM
  @media screen and (max-width: $break-med) {
  .headerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px;
      img {
        width: 60%;
        height: auto;
        border-radius: 100%;
      }
      .headerContainer {
        margin: 0;
          h1 {
            font-size: 48px;
            text-align: center;
          }
          p {
            font-size: 24px;
          }
      }
    }
  }
  //SMALL
  @media screen and (max-width: $break-small) {
  .headerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px;
      img {
        width: 80%;
        height: auto;
        border-radius: 100%;
      }
      .headerContainer {
        margin-bottom: 40px;
          h1 {
            font-size: 48px;
            text-align: center;
          }
          p {
            font-size: 24px;
          }
      }
    }
  }

  //LARGE 
  @media screen and (min-width: $break-large) {
  .bodyDiv {
    padding: 12px 24px;
    text-align: center;
    background-color: $blue;
    color: $white;
    font-size: 30px;
      h2 {
        margin: 12px;
      }
  }

  .skillDiv {
    height: 600px;
      .filter {
        display: flex;
        justify-content: center;
          button {
            margin: 5px;
            border: 2px $white solid;
            padding: 10px;
            color: $black;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            border-radius: 10px;
            width: 240px;
              &:hover {
                text-decoration: underline;
                border: 2px $white solid;
                cursor: pointer;
              }
          }
          .allButton {
            background-color: $white;
          }
          .langButton {
            background-color: #FF9AA2;
          }
          .libButton {
            background-color: #FFB7B2;
          }
          .dbButton {
            background-color: #FFDAC1;
          }
          .verButton {
            background-color: #E2F0CB;
          }
          .swButton {
            background-color: #B5EAD7;
          }
          .comButton {
            background-color: #C7CEEA;
          }
      }
      .skillListDiv {
        display: flex;
        flex-wrap: wrap;
        padding: 40px;
        justify-content: center;
        margin-top: 16px;
          ul {
              &:hover {
                cursor: default;
              }
          }
      }
  }
  .projectDiv {
    .projects {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 10px;
    }
    .projectContainer {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 45%;
      align-items: center;
        h3 {
          &:hover {
            cursor: default;
          }
        }
        .projectImg {
          width: 100%;
          height: auto;
        }
        .linkButtons {
          transition: .5s ease;
          position: absolute;
          top: 60%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
            &:hover {
              opacity: 1;
            }
        }
        .projectButton {
          opacity: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          background-color: $blue;
          border: 2px solid $white;
          padding: 15px;
          text-align: center;
          font-size: 1rem;
          border-radius: 10px;
          color: $white;
          width: 280px;
          margin: 24px;
              &:hover {
              color: $black;
              border: 2px solid $black;
              opacity: 1;
              cursor: pointer;
            }
        }
    }
  }

  .projectContainer:hover .projectImg {
    opacity: 0.3;
  }

  .projectContainer:hover .projectButton {
    opacity: 1;
  }

}
//MEDIUM 
@media screen and (max-width: $break-med) {
  .bodyDiv {
    padding: 12px 24px;
    text-align: center;
    background-color: $blue;
    color: $white;
    font-size: 30px;
      h2 {
        margin: 12px;
      }
  }

  .skillDiv {
    height: 600px;
      .filter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
          button {
            margin: 5px;
            border: 2px $white solid;
            color: $blue;
            padding: 8px;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            border-radius: 10px;
            width: 240px;
            height: 60px;
            &:hover {
              text-decoration: underline;
              border: 2px $white solid;
              cursor: pointer;
            }
        }
        .allButton {
          background-color: $white;
        }
        .langButton {
          background-color: #FF9AA2;
        }
        .libButton {
          background-color: #FFB7B2;
        }
        .dbButton {
          background-color: #FFDAC1;
        }
        .verButton {
          background-color: #E2F0CB;
        }
        .swButton {
          background-color: #B5EAD7;
        }
        .comButton {
          background-color: #C7CEEA;
        }
      }
      .skillListDiv {
        display: flex;
        flex-wrap: wrap;
        padding: 40px;
        justify-content: center;
        margin-top: 16px;
          ul {
            &:hover {
              cursor: default;
            }
          }
      }
  }

  .projectDiv {
    margin-top: 600px;
    .projects {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
    .projectContainer {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 45%;
      align-items: center;
        h3 {
          &:hover {
            cursor: default;
          }
        }
        .projectImg {
          width: 700px;
          height: 400px;
        }
        .linkButtons {
          transition: .5s ease;
          position: absolute;
          top: 60%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
            &:hover {
              opacity: 1;
            }
        }
        .linkButtons {
          transition: .5s ease;
          position: initial;
          top: 0%;
          left: 0%;
          transform: translate(0%, 0%);
          -ms-transform: translate(0%, 0%);
        }
        .projectButton {
          opacity: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          background-color: $blue;
          border: 2px solid $white;
          padding: 15px;
          text-align: center;
          font-size: 1rem;
          border-radius: 10px;
          color: $white;
          width: 280px;
          margin: 24px;
        }
    }
  }

  .projectContainer:hover .projectImg {
    opacity: 0.3;
  }

  .projectContainer:hover .projectButton {
    opacity: 1;
  }
}
//SMALL 
@media screen and (max-width: $break-small) {
  .bodyDiv {
    padding: 12px 24px;
    text-align: center;
    background-color: $blue;
    color: $white;
    font-size: 30px;
      h2 {
        margin: 12px;
      }
  }

  .skillDiv {
    height: 600px;
      .filter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
          button {
            margin: 5px;
            border: 2px $white solid;
            color: $blue;
            padding: 8px;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            border-radius: 10px;
            width: 240px;
            height: 60px;
            &:hover {
              text-decoration: underline;
              border: 2px $white solid;
              cursor: pointer;
            }
        }
        .allButton {
          background-color: $white;
        }
        .langButton {
          background-color: #FF9AA2;
        }
        .libButton {
          background-color: #FFB7B2;
        }
        .dbButton {
          background-color: #FFDAC1;
        }
        .verButton {
          background-color: #E2F0CB;
        }
        .swButton {
          background-color: #B5EAD7;
        }
        .comButton {
          background-color: #C7CEEA;
        }
      }
      .skillListDiv {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 10px;
        height: 500px;
        font-size: 18px;
          ul {
            margin: 1px;
            padding: 3px;
              &:hover {
                cursor: default;
              }
          }
      }
  }
  .projectDiv {
    margin-top: 600px;
    .projects {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
    .projectContainer {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 45%;
      align-items: center;
        .projectImg {
          width: 200%;
          height: auto;
        }
        .linkButtons {
          transition: .5s ease;
          position: initial;
          top: 0%;
          left: 0%;
          transform: translate(0%, 0%);
          -ms-transform: translate(0%, 0%);
        }
        .projectButton {
          opacity: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          background-color: $blue;
          border: 2px solid $white;
          padding: 15px;
          text-align: center;
          font-size: 1rem;
          border-radius: 10px;
          color: $white;
          width: 280px;
          margin: 24px;
        }
    }
  }
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  padding: 12px;
  background-color: $dark;
    p {
      text-align: center;
      font-size: 24px;
    }
    .socialButton {
      margin: 12px;
      border: 2px solid $white;
      padding: 10px;
      border-radius: 100%;
      color: $white;
      background-color: $blue;
        &:hover {
          cursor: pointer;
          border: 2px solid $white;
          color: $dark;
          background-color: $blue;
        }
    }
}

.footerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shylaDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}