//Colors
$white: #FFFFFF;
$black: #000000;
$dark: #313843;

//Gradient
$gradient: linear-gradient(135deg, #EE4D71 0%, #F15A3F 100%);

//Media Queries 
$break-small: 600px;
$break-med: 1200px;
$break-large: 1200px;